<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FORMULARIO ALTAS</title>
 
<link rel="stylesheet" href="./styleA.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="form">
    <h1>Altas</h1>
      <ul class="tab-group">
        <li class="tab active"><a href="#proveedor">Proveedor</a></li>
        <li class="tab"><a href="#cazador">Cazador</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="proveedor">
          <h1>¡Bienvenido Proveedor de talentos!</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Nombre<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Apellido<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
          
          <div>
            <div class="field-wrap">
              <label>
                Capacidades<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off"/>
            </div>
        
            <div class="field-wrap">
              <label>
                Actividad Profesional<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
            
            <div class="field-wrap">
              <label>
                Disponibilidad Horario<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off"/>
            </div>
        
            <div class="field-wrap">
              <label>
                Actividad Profesional<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Lugar<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Costo<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
          
          
          <button type="submit" class="button button-block"/>Registrarme</button>
          
          </form>

        </div>
        
        <div id="cazador">
          <h1>¡Bienvenido Cazador de talentos!</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Nombre<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Apellido<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
          
          <div class="field-wrap">
            <label>
              Giro Proyecto<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Coordenadas<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Proyectos Disponibles<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <h3>Datos tarjeta</h3>
          
          <div class="field-wrap">
            <label>
              Nombre Titular<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Numero Tarjeta<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          <div class="top-row">
              <div class="field-wrap">
                <label>
                  Fecha Caducidad<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off"/>
              </div>
              
              <div class="field-wrap">
                <label>
                  Numero CVV<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off"/>
              </div>
          </div>
          
          
          <button type="submit" class="button button-block"/>Registrarme</button>
          
          </form>

        </div>
        
        
      </div>
      
</div>

<a href="home.html" style="color:black">Regresar a Home Page</a>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
