<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HOME PAGE</title>
 
<link rel="stylesheet" href="./style.css">

</head>
<body>
    <h1>BIENVENIDOS A NUESTRO PORTAL DE FORMULARIOS</h1>
    <div class="links">
        <ul>
            <a href="altas.html" style="color:orange">Formulario de Altas</a><br>
            <a href="bajas.html" style="color:orange">Formulario de Bajas</a><br>
            <a href="cambios.html" style="color:orange">Formulario de Cambios</a><br>
            <a href="consultas.html" style="color:orange">Formulario de Consultas</a>
        </ul>
    </div>

</body>
</html>
